body {
  font-family: Arial, sans-serif;
  background-color: rgb(10, 44, 41);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}
/* Target the navbar and set its background color to match the body */
/* Target the navbar and remove its background color */
.navbar {
  background-color: transparent; /* Set the background to transparent */
  box-shadow: none; /* Remove any box shadow if present */
}

h1 {
  text-align: center;
  color: #ccc;
}

#result {
  text-align: center;
  margin-top: 20px;
}

#quiz {
  padding: 20px;/* Use !important to override any conflicting styles */
}

.card  {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow here */
  color: #eceaea;
}
.card-container {
  display: flex;
  flex-direction: column;
  margin: 10px; /* Adjust the margin as needed */
}

.card div {
  text-align: left;
}

.card label {
  display: block;
  margin-bottom: 5px; /* Add margin between answer options */
}
.question {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.container-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#answerReview {
  max-width: 800px;
  margin-left: 60px;
}

.answer {
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  color:aliceblue;
}
h2 {
  color:antiquewhite;
}
p {
  font-size: 16px;
  color:aliceblue;
}

#reviewAnswers {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reviewAnswers:hover {
  background-color: #0056b3;
}
/* Custom styles for topic buttons */
/* Define custom styles for topic buttons */
/* Define custom styles for topic buttons */
/* Define custom styles for topic buttons */
.nav-card {
  cursor: pointer;
  transition: background-color 0.3s;
  color: #eceaea; /* Set text color to white */
  padding: 10px; /* Add padding to all sides of the card */
  margin: 5px;
}

/* Rest of your styles for each card class and hover effect remain the same as previously mentioned */


.general-knowledge {
  background-color: #ff5733; /* Set the background color for General Knowledge card */
}

.science {
  background-color: #33ff57; /* Set the background color for Science card */
}

.geography {
  background-color: #5733ff; /* Set the background color for Geography card */
}

.math {
  background-color: #f86809; /* Set the background color for Math card */

}

.nav-card:hover {
  background-color: #444;
}

.nav-card h5 {
  text-align: center;
}

/* Add additional styles to customize your cards as needed */
