body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

#result {
  text-align: center;
  margin-top: 20px;
}

#quiz {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.container-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#answerReview {
  max-width: 800px;
}

.answer {
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

#reviewAnswers {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reviewAnswers:hover {
  background-color: #0056b3;
}